Header protection and consistency with JWS

JWS has almost the same header parameters at COSE (x5t, x5chain and x5u, but not x5bag). The semantics of them should be identical, unless there's a really good reason not to be. (EAT using JWT and CWT as semantically equivalent so issues like this pop up)

JWS section 6 has clear text saying when header parameters need to be protected and when they don't.  It applies to all the parameters that could be used to identify a certificate including the kid.

All the same attacks and defenses apply for COSE X.509, so COSE X.509 should have a section with text that is almost identical to JWS section 6.

I do not find JWS Section 6 to be clear regarding when header parameters need to be protected and when they don't.  

> These Header Parameters MUST
> be integrity protected if the information that they convey is to be
> utilized in a trust decision; however, if the only information used
> in the trust decision is a key, these parameters need not be
> integrity protected, since changing them in a way that causes a
> different key to be used will cause the validation to fail.

I think that all certificate fields are "utilized in a trust decision", but I do not believe the intention in JWS was that the x5* headers should always be protected headers, otherwise it would have said that. The certificate fields are integrity protected by the digital signature on the certificate itself and the COSE X.509 I-D says that "Certificates obtained from any of these methods MUST still be validated" by PKIX or other trust structure.

I suspect that the intention in the JWS text was to indicate that they must be protected headers if you are not relying on PKIX path validation to a local trusted root; that is, if you are using the Subject field, rfc822name or other certificate field to tell you who signed the message, without a trusted issuer.

Jonathan Hammell <notifications@github.com> wrote:
    > I do not find JWS Section 6 to be clear regarding when header
    > parameters need to be protected and when they don't.

    >> These Header Parameters MUST
    >> be integrity protected if the information that they convey is to be
    >> utilized in a trust decision; however, if the only information used
    >> in the trust decision is a key, these parameters need not be
    >> integrity protected, since changing them in a way that causes a
    >> different key to be used will cause the validation to fail.

    > I think that all certificate fields are "utilized in a trust decision",
    > but I do not believe the intention in JWS was that the x5* headers
    > should always be protected headers, otherwise it would have said
    > that. The certificate fields are integrity protected by the digital
    > signature on the certificate itself and the COSE X.509 I-D says that
    > "Certificates obtained from any of these methods MUST still be
    > validated" by PKIX or other trust structure.

Hi, the JOSE JSON Serialization version of RFC7515 allows for protected and
unprotected headers.
The JWS Compact Serialization has no allowance for unprotected headers.
What does this mean compared to COSE.

    > I suspect that the intention in the JWS text was to indicate that they
    > must be protected headers if you are not relying on PKIX path
    > validation to a local trusted root; that is, if you are using the
    > Subject field, rfc822name or other certificate field to tell you who
    > signed the message, without a trusted issuer.

No, having read 7515 several times yesterday, I didn't find any such text.



>> I suspect that the intention in the JWS text was to indicate that they
>> must be protected headers if you are not relying on PKIX path
>> validation to a local trusted root; that is, if you are using the
>> Subject field, rfc822name or other certificate field to tell you who
>> signed the message, without a trusted issuer.
>
> No, having read 7515 several times yesterday, I didn't find any such text.

Agreed. It was only a suspicion, but after some sleuthing it appears I was incorrect.

I dug through the revision history of RFC 7515 (draft-ietf-jose-json-web-signature).  Revision 15 added the first relevant text to Section 6 that "header parameters MUST be integrity protected if the information about the key that they convey is to be considered trusted."  I could not find any discussion on the mailing list other than the statement by Mike Jones (https://mailarchive.ietf.org/arch/msg/jose/klG-D3Rm9V7BkJbgPLI6SQELaXM/) that the revision was addressing issues filed by Jim Schaad and that Mike and Jim worked on it offline.  According to the document history, the updates to Section 6 were addressing issues #104, #105, #106 (e.g. https://trac.ietf.org/trac/jose/ticket/106), which were concerns regarding jku, jwk and x5u.  Concerns regarding x5t were raised in issue #107, but claimed to be "Fixed - kind of by #104".  Concerns regarding trust of x5c was not raised--issue #108 is about the processing of x5c. 

The next update to this text in Section 6 was in Revision 37.  This revision added the text "however, if the only information used in the trust decision is a key, these parameters need not be integrity protected, since changing them in a way that causes a different key to be used will cause the validation to fail."  This additional text seems to be based on a proposed clarification from Richard Barnes during IESG review (https://mailarchive.ietf.org/arch/msg/jose/YWje0hfyhEpNG9Fs8TkcliP-XaU/).  That thread is very interesting and I believe discusses the concerns that Laurence has raised in this Issue.

I won't list all the points raised in that thread, but I will note that they reference risks described in RFC 2634, Section 5.  It appears from that thread that the necessity of integrity protecting the x5t and x5c headers was still actively being debated:
  "issue #104 was closed without any discussion on the list (AFAICT).  And that issue only related to 'jku', so the extension to all the other fields is unnecessary."

In the message from Richard where he proposed the text (https://mailarchive.ietf.org/arch/msg/jose/YWje0hfyhEpNG9Fs8TkcliP-XaU/), he explicitly states that the reason for it is if the "content of a key identifier... is used for security decisions".  Therefore, I still don't believe that the requirement to integrity protect applies to certificates in an x5c header.  Under the attack scenario discussed, the trust decision is the certificate chain validation as per RFC 7515, Appendix D, Item 4; Richard points out in "[1]" that if the attacker has compromised the identity in this way (i.e. the certificate issuer) then the attacker "can provision whatever key he wants, and re-sign the message."  

Nice to read some of the background from the creation of 7515.

7515 section 6 doesn't say that header parameters must always be protected. I agree with that. I don't think the headers parameters should always be protected.

The attacks at issue are possible even when path validation was performed and succeeded. The protection of the headers is never an alternate to path validation.

As the 7515 discussion mentions identification of a key versus identification of a certificate is an important distinction. I understand this to be an issue because a certificate contains data in addition to the key that affects the ultimate trust decision. For example basic constraints, path length, key usage, the subject and so on. The signer presumably choose the particular certificate because they want this additional data in there certificate processed during validation.

It's true the attacker can't change these because the certificate is signed and checked by path validation, but it is possible that there are two different certificates with the same key that vary in other ways. The subject could be different. The key usage could be different and so on. That two certificates like this exists seems like questionable CA practice, but that is besides the point here.

If some second certificate with the same key happens to exist and the fields in it are somehow favorable for an attack, there is opportunity to reference it if the header is not protected. It's about securely binding all the data used in the trust decision by the RP to the message.

I think this also applies when data contained in the identifier itself is used in the trust decision.

All that said, consistency with 7515 is equally important. If someone has a use case they implement with 7515, they should be able to implement it here too.

If we say here that some headers can never be protected then we a) have inconsistency with 7515, b) preclude defense against discussed attacks c) preclude defenses against attacks we haven't thought of yet.





Laurence Lundblade <notifications@github.com> wrote:
    > 7515 section 6 doesn't say that header parameters must always be
    > protected. I agree with that. I don't think the headers parameters
    > should always be protected.

    > The attacks at issue are possible even when path validation was
    > performed and succeeded. The protection of the headers is never an
    > alternate to path validation.

I think that this is the take home: certificates (or other identity claims)
can show up in any place, and being in the protected bucket provides no additional credences.

    > If some second certificate with the same key happens to exist and the
    > fields in it are somehow favorable for an attack, there is opportunity
    > to reference it if the header is not protected. It's about securely
    > binding all the data used in the trust decision by the RP to the
    > message.

yeah, but if such a thing existed, then all the security is moot.

    > All that said, consistency with 7515 is equally important. If someone
    > has a use case they implement with 7515, they should be able to
    > implement it here too.

    > If we say here that some headers can never be protected then we a) have
    > inconsistency with 7515, b) preclude defense against discussed attacks
    > c) preclude defenses against attacks we haven't thought of yet.

The major use of 7515 is the JSON Compact Serialization, JWT, which does not
even have an unprotected bucket.  So if one wanted to be consistent with
that, then it all goes in the protected bucket, because there is no other
place.



The main take home for me is that these headers should be allowed in either the protected or unprotected bucket.


One more observation on code size that lines up with MCR's comment about JSON Compact Serialization. 

From my COSE_Sign1 that is trying to be very small, its clear that having two types of headers added a lot to the implementation, especially when you have to perform duplicate detection across the two types of headers.

I haven't tried it yet, but I suspect just putting everything into protected headers will reduce code size. Protected headers don't really cost more than unprotected headers in performance or code size. I plan to try it.





As I've argued earlier, I don't think the text should be consistent with JWS.  However, based on the background and discussion here, I would be okay with adding a paragraph to the Security Considerations (right after the second last paragraph, discussing path validation) with something like the following text:

"Protecting the integrity of the x5bag, x5chain and x5t contents by placing them in the protected header bucket MAY mitigate some risks of a misbehaving certificate authority (c.f. Section 5.1 of [RFC2634])."

I believe this is fixed now. Please reopen if anything was missed. :slightly_smiling_face: 